
<div class="container">

<noscript>
{{ Message_error("Javascript must be enabled past this point!"|trans) }}
</noscript>

<div class="hide" id="js-https-mismatch">
{{ Message_error("There is mismatch between HTTPS indicated on the server and client. This can lead to non working phpMyAdmin or a security risk. Please fix your server configuration to indicate HTTPS properly."|trans) }}
</div>
