<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
<rules>
<rule name="rule 1Z" stopProcessing="true">
	<match url="^public"  ignoreCase="true" />
</rule>
<rule name="rule 2Z" stopProcessing="true">
	<match url="^thirdparty"  ignoreCase="true" />
</rule>
<rule name="rule 3Z" stopProcessing="true">
	<match url="^templates"  ignoreCase="true" />
</rule>
<rule name="rule 4a" stopProcessing="true">
	<match url="^action.php"  ignoreCase="true" />
	<action type="Rewrite" url="/action.php"  />
</rule>
<rule name="rule 4s" stopProcessing="true">
	<match url="."  />
	<action type="Rewrite" url="/index.php"  />
</rule>
</rules>
     </rewrite>
    </system.webServer>
</configuration>
 
